html body {
  background-color: darkkhaki;
}

a {
  color: chocolate;
}

.top-bar {
  background-color: burlywood;
}

ul.dropdown.menu {
  background-color: burlywood;
}

ul.menu {
  background-color: burlywood;
}

th {
  color: brown;
  background-color: antiquewhite;
}

td {
  color: coral;
  background-color: khaki;
}

h1, h2, h3, h4, h5, h6, p {
  color: firebrick;
}

.callout {
  background-color: goldenrod;
  color: chocolate;
}

label {
  color: cornsilk;
}

input.button {
  background-color: brown;
  color: darkgray;
}

input.button:hover {
  background-color: brown;
  color: darkgray;
}

div#notice {
  background-color: bisque;
  color: red;
}
