/* top bar */
#nav {
  min-height: 53px;
  width: 100%;
  background-color: black;
  margin-bottom: 20px !important;
}

#nav li {
  height: inherit;
  display: inline-block;
  padding: 0;
}

#nav a {
  height: 27px;
  line-height: 27px;
  padding: 13px 16px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#nav a:hover {
  background-color: #8cffd1;

}

#nav a.active {
  background-color: #ff0000;
}

#nav ul.top-bar-title {
  height: inherit;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav ul.top-bar-title a {
  font-size: 27px;
}

#nav ul.top-bar {
  height: inherit;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav ul.top-bar a {
  font-size: 20px;
}

.sub-top-bar {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      padding: 0 5px 0 5px;
      text-decoration: none;
    }
  }
}

/* 6 column grid system */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;

  /* on small screens */
  &  .grid { /* nested grids */
    grid-row-gap: 0;
  }

  .span-1 {
    grid-column: span 6;
  }
  .span-2 {
    grid-column: span 6;
  }
  .span-3 {
    grid-column: span 6;
  }
  .span-4 {
    grid-column: span 6;
  }
  .span-5 {
    grid-column: span 6;
  }
  .span-6 {
    grid-column: span 6;
  }

  /* larger than small screens */
  @media (min-width: 30em) {
    &  .grid { /* nested grids */
      grid-row-gap: 10px;
    }

    .span-1 {
      grid-column: span 1;
    }
    .span-2 {
      grid-column: span 2;
    }
    .span-3 {
      grid-column: span 3;
    }
    .span-4 {
      grid-column: span 4;
    }
    .span-5 {
      grid-column: span 5;
    }
    .span-6 {
      grid-column: span 6;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
