a {
    color: #00fff1;
}

ul {
    color: blue;
}

body {
  background-color: black;
  color: #F7F7F7;
}

h1, h2{
  color:blue;
  margin-left: 20px;
  text-shadow: 2px 2px #ff0000
}

p {
  color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
  &, th, td {
    border: 1px solid antiquewhite;
  }
  th {
    color: blue;
  }
}

.small {
  height: 100px

}

/* This is how to use an un-ordered list to create a horizontal row of items */
ul.menu {
  list-style: none;
  padding-left: 0;
}

ul.menu li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

ul.menu li:last-child {
  margin-right: 0;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.center {
  text-align: center;
}

.one-line-text {
  white-space: nowrap;
}
