%h1.center Listing products

.table-overflow
  %table
    %thead
      %tr
        %th Name
        %th Description
        %th Price
        %th Category
        %th Quantity
        %th For sale
        %th Available on
        %th Discontinued on
        %th Image
    %tbody
      - @products.each do |product|
        = render 'products/table_data', product: product

%br
- if user_signed_in?
  = link_to 'New Product', new_product_path
  \|
= link_to 'All Categories', categories_path
