%h1 About us
%p
  = link_to "Leo", leo_path
  likes red,
  = link_to"Gryphen", gryphen_path
  likes bule,
  = link_to"Dad", dad_path
  likes red,
  = link_to"Dean", dean_path 
  likes green.
%p All of us worked hard in the garden for us to sell veggies that are organic.
