%h1 About us
%p
  %a{:href => "leo.html"} Leo
  likes red,
  %a{:href => "gryphen.html"} Gryphen
  likes bule,
  %a{:href => "dads.html"} Dad
  likes red, Dean likes green.
%p All of us worked hard in the garden for us to sell veggies that are organic.
