%h1 Coloring books
%p Inside the coloring books there are cool pictures to color and soon mazies!!!
%p We have fall coloring pages,summer ones,spring ones,and fun ones.
%p the fall one only out in fall
%img.small{:alt => "fall", :src => "assets/fall.jpg"}/
%p the fun one all ways out!
%img.small{:alt => "fun", :src => "assets/fun.jpg"}/
%p the spring one will be only out doring spring
%img.small{:alt => "spring", :src => "assets/spring.jpg"}/
%p the summer one will be out only doring summer.
%img.small{:alt => "summer", :src => "assets/summer.jpg"}/
