%h1 Hi, I'm Dad
%p I am also a programmer / carpenter / musican and poet.
%p
  You can see what I've programmed at
  = succeed '.' do
    = link_to 'TheTinFoilHat.Co', 'https://ttfh.co', target: '_blank'
%p my favorite band is The Beatles
%p i am 39 years old and i helped make this site with leo beacouse i did all the
db things on it
