%h1 Funny comics
%p this is th lates comic by leo midili killer tolites the new master part 2 and gryphen midili's is iceman
%p all thise comics are for sale at 2 and below
%h2 killer toilets 2 world 
