%h1 About Leo
%p I make comics, sites, youtuber, and lego buildings
%p Here is the latest lego building
= image_tag('lego1.jpg', class: "small")
%p the newest comic is Killer toilets the new master
%p The place I work for to make comics is Funny comics ink
%p i am only 10 years old
