%h1 About Leo
%p I make comics, sites, youtuber, and lego buildings
%p Here is the latest lego building
%img.small{:src => "assets/Llego.jpg"}/
%p the newest comic is Killer toilets the new master
%p The place I work for to make comics is Funny comics ink and will be a site soon
