%h1 About Leo
%p I make comics, sites, youtuber, Lego buildings, and Xbox player
%p Here is the latest Lego building
= image_pack_tag('lego1.jpg', class: "small")
%p The place I work for to make comics is Funny comics ink
%p i am only 11 years old
%p My youtube channle is The Charmander Master
