%h1 Veggies Pricing and Availability
%p Corn - $1 each
%img.small{:alt => "Corn", :src => "assets/corn.jpg"}/
%p Jalapenos Peppers - 50 cents each
%img.small{:alt => "Jalapenos", :src => "assets/jalapenos.jpg"}/
%p Tomatoes - $1
%img.small{:alt => "Tomatoes", :src => "assets/tomatoes.jpg"}/
%p Cucumbers - $1
%img.small{:alt => "Cucumber", :src => "assets/cucumber.jpg"}/
%p Egg Plant - $1 each
%img.small{:alt => "Egg plant", :src => "assets/egg_plant.jpg"}/
%p Zucchini - $1 each
%img.small{:alt => "Zucchini", :src => "assets/zucchini.jpg"}/
%p Red Bell Peppers - $1 each
%img.small{:alt => "Red peppers", :src => "assets/red_peppers.jpg"}/
%p Spinach - $1 per bunch
%img.small{:alt => "Spinach", :src => "assets/spinach.jpg"}/
%p Carrots - 50 cents
%img.small{:alt => "Carrots", :src => "assets/carrots.jpg"}/
