#nav
  %ul.top-bar-title
    %li
      -# %a.active{:href => "index.html"} Home
      = link_to 'Home', root_path, class: is_active?('sites', 'home')
  %ul.top-bar
    %li
      -# %a{:href => "veggies.html"} About the Veggies
      = link_to 'About the Veggies', veggies_path, class: is_active?('sites', 'veggies')
    %li
      -# %a{:href => "coloring_books.html"} Coloring Books
      = link_to "Coloring pages", coloring_pages_path , class: is_active?("sites", "coloring_pages")
    %li
      -# %a{:href => "about.html"} About us
      = link_to 'About', about_path, class: is_active?('sites', 'about')
